FIRECRAWL_API_KEY=
DATABASE_PUBLIC_URL=
DATABASE_URL=
CRON_SECRET=
SERVICE_ROLE=api
SOLVED_FLOOR_MAIN=900
SOLVED_FLOOR_ALT=200
PORT=8001
VITE_API_URL=
VITE_RESUME_URL=https://drive.google.com/file/d/1QoQ5ulen1owO0S8qCClXUdUPqjKBgWR_/view?usp=sharing
